<% layout('/layouts/boilerplate') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Marks</title>
    <link rel="stylesheet" href="/stylesheets/marksenter.css" type="text/css">
</head>
<body>

    <h1>   Enter marks for <%=gg%> having roll no <%=id%></h1>

    <div class="container">
    <form action="/marks/<%=id%>" method="POST">
        <label for="subject">Subject:</label>
        <select id="subject" name="subject" required>
            <option value="Maths">Maths</option>
            <option value="Physics">Physics</option>
            <option value="Chemistry">Chemistry</option>
        </select>

        <br>

        <label for="marks">Enter Marks:</label>
        <input type="text" name="marks" id="marks" placeholder="Marks here" required>
        <br>
        
        <button type="submit">Submit</button>
    </form>
</div>
    
</body>
</html>