body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100; /* Ensure the navbar is above other content */
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.navbar-left img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.navbar-right {
    font-weight: bold;
}
